.footer .info {
    padding: 0.5rem;
    width: 100%;
    }
.footer {
    margin-top: 2rem;
}

.top {
    border-bottom: #101010 solid 1px;
}
.nav-link {
    margin: 0.5rem;
}
.tree_logos img {
    max-height: 30px;
    max-width: 30px;
}
@media screen and (max-width: 768px) {
    .info {
        font-size: 15px;
    }
    .info img {
        height: 80%;
    }
}
@media screen and (max-width: 480px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
    .info img {
        height: 50%;
    }
}