    .nav .nav_btn .nav-item .link {
    font-size: 20px;
    font-weight: 500;
    font-family: DM_Sans, sans-serif, Arial;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }
    .nav_btn {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        padding-left: 0;
        margin-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        max-height: 20px;
    
    }
    .btn {
        border-radius: 0.375rem;
        margin: 0.5rem;
        display: flex;
        padding: 0.5rem;
    }
    .btn-dark {
        background-color: #101010;
        color: #F5F5F5;
    }
    .btn-light {
        background-color: #F5F5F5;
        color: #101010;
    }