
.tech-stack-section {
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logos {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    margin: 2rem;
}

@media screen and (max-width: 1024px) {
    .logos {
        display: grid;
        grid-template-columns: repeat(5, auto);
        column-gap: 3rem;
        margin: 2rem;
    }
    }
@media screen and (max-width: 768px) {
    .logos {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 3rem;
        margin: 2rem;
    }
}
@media screen and (max-width: 480px) {
    .logos {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 3rem;
        margin: 2rem;
    }
}
